# Ignore node_modules folders
ai-chatbbot-app/node_modules/
ai-chatbot-backend/node_modules/

# Ignore environment variable files
ai-chatbot-app/.env
ai-chatbot-backend/.env

# Ignore build or output folders
ai-chatbbot-app/build/
ai-chatbbot-app/dist/

# OS-specific and log files
*.log
.DS_Store
Thumbs.db
